/* */

*{margin:0;}

.container {display: flex;}
.row{flex-direction: row;}
.column{flex-direction: column;}
.whitetext {color: white;}
.purpletext {color: #7D7089}
.spacebetween{justify-content: space-between;}
.spacearound{justify-content: space-around;}
.textcenter{text-align: center;}

/* FONT SIZES */
.medium{font-size:2em;}
.large{font-size: 2.5em;}
.larger{font-size: 3em;}
.largest{font-size: 4em}


/* inline block 
height 100%
vertical align : center */

/* NAV BAR */
nav {background-color: #322F39;
height: 3vh;}
#hamburger{background-color: black;
                            /* ======== FIX THIS SHIT ======= */
min-height: 50px;
min-width: 50px;}

/* 2nd section - BLUE */
#blue {background-color: #119FB7;
    height: 10vh;
                            /* ======== FIX THIS SHIT ======= */
padding: 5%;}

/* 3rd Section - Robin Hood */
#robin{background-color: #322F39;
height: 5vh;}


.pink{background-color: #B85F76;
    min-height: 50%;
    min-width: 100px;}

/* 4th Section - BIG ASS ARROW */
#purple {
    background-color: #563369;
    padding: 40%;
    height: 8vh;
}

/* 5th Section - Bridge */
#bridge{width: 100%;}

/* 6th Section - Lady */
#lady{width:100%;}

/* 7th Section - Article */
#text{background-color: #EBEBEB;
padding: 10%;
height: 20%;}


/* CLEAN THIS SHIT UP */

